<h2>Add A Different Type of Workout!</h2>
<%= form_for @workout do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name%>

  <%= f.label :equipment %>
  <%= f.text_field :equipment %>

  <%= f.label :photo %>
  <%= f.text_field :img_url %>

  <%= f.submit %>
<% end %>
