<h1><%= @workout.name %></h1>

<h3><%= link_to "Add A Studio", new_workout_place_path( @workout ) %></h3>

<% @workout.places.each do |place| %>
  <div class="place">
    <h2><%= link_to place.name, place.website %></h2>
    <h3>Location(s):<%= place.location %> </h3>
    <%= image_tag place.img_url %>
  </div>
<% end %>
